* {
    padding: 0;
    margin: 0
  }

body {
    background-color: white;
    font-family: sans-serif;
    font-size: 12px
     }

#header {
    background-color: white;
    color: black;
    height: 40px;
    width: 100%;
    }

#logoheader {
    height: 60px;
    margin-left: 10px;
    width: 60px;
    float:left;
}


/* Blocks */
.block {
	display: block;
	width: 100%;
	border: none;
	background-color: #4CAF50;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
  }
.hero-v1 {
	padding: 8rem 0 8rem 0;
	background: rgba(111, 66, 193, 0.1);
	overflow: hidden;
}

.hero-v1 .heading {
	font-weight: 900;
	color: #ffffff;
	font-size: 40px;
}
@media (max-width: 900.98px) {
	.hero-v1 .heading {
		font-size: 30px;
	}
}
.hero-v1 .subheading {
	font-size: 12px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	letter-spacing: 0.1rem;
	font-weight: 900;
}
.hero-v1 .illustration {
	position: relative;
	margin-top: -230px;
	position: absolute;
}
@media (max-width: 1000px) {
	.hero-v1 .illustration {
		display: none;
	}
}

.jumbotron {
	color: white;
	background: radial-gradient(
		85.28% 268.64% at 22.66% 100%,
		#ff6060 0%,
		#ff6060 100%
	);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.section-heading-line-left {
	content: "";
	display: block;
	width: 100px;
	height: 3px;
	background: #5f27cd;
	border-radius: 25%;
	margin-top: 15px;
	margin-bottom: 5px;
}